@media screen and (max-width:991px){

   h3 {
      font-size: 1.2rem;
  }
   .nav-toggle{
      display:block;
      margin-right:10px;
   }
   .main-nav{
      overflow: initial;
   }
   .nav-links {
      position:absolute;

      left:-100%;
      top:100%;
      background-color: white; 
      width:100%;   
   }
   .nav-links ul{
      flex-direction:column;
   }

   .nav-links.active {
      left:0;
   }
   .example-area{
      flex-wrap:wrap; 
   }
   
   .feature2{
      flex-direction:row-reverse;
   }
   .example-card{
        margin:5px; 
        width:48%; 
        height:180px;
   }
   .cta-section{
      padding-block:80px ;
   }
}


@media screen and (max-width:767px){
 .header-sec{
   flex-direction:column-reverse;
 }  
 .header-left{
   text-align: center;
}

/* .feature-header{
   padding:20px var(--padding-inline-section) 0;
} */

.primary-button{
   width:100%;
 }

 .feature-card{
  min-width: calc(50% - 10px); 
 }

 .big-feature-container{
   flex-direction:column;
 }

 .footer-container{
   flex-direction: column;
   align-items:center;
   text-align: center;
   gap:20px;
 }
.link-column{
   align-items: stretch; 
 }
}

@media screen and (max-width:479px){
   h1{
      font-size: 2rem;
   }
   
   h2 {
       font-size: 1.5rem;
   }
   
   p {
         font-size: 1rem;
   }

   .feature-card{
      min-width:100%;
}
.example-card{
    width:100%;
  }

}
